.header {
   display: flex;
   align-items: flex-end;
   padding: 0 0 1rem;
   margin: 0;
   &__title {
      display: flex;
      align-items: center;
      justify-content: center;
      > svg {
         @include sizer(100px);
         margin: auto;
      }
   }
   &__menu {
      display: flex;
      align-items: center;
      justify-content: center;
   }
   &__search {
      display: flex;
      align-items: center;
      justify-content: flex-end;
      input[type="text"] {
         width: 80%;
         padding: 0.33rem 0.66rem;
         font-size: $p;
         outline: 0;
         background: rgba(ocGray(1), 0.4);
         border: 1px solid _slate(9);
      }
   }
}

.theme-select {
   position: absolute;
   top: $space-phi;
   right: $space-phi;
}