html {
   font-size: $text-root__size;
   line-height: $text-root__line;
   width: 100%;
   height: 100%;
   overflow-x: hidden;
   -webkit-tap-highlight-color: transparent;
   -webkit-font-smoothing: antialiased;
   -moz-osx-font-smoothing: grayscale;
}

body {
   color: $text-color;
   font-size: $text-size;
   font-family: $text-font;
   font-weight: $text-weight;
   background-image: $body-bg;
   background-size: 100%;
   background-attachment: fixed;
   text-rendering: optimizeLegibility;
   -webkit-text-size-adjust: 100%;
   font-feature-settings: "kern" 1;
   font-kerning: normal;
   display: flex;
   flex-direction: column;
   place-content: space-between;
   width: 100%;
   height: 100%;
   position: relative;
}

a {
   color: $a;
   text-decoration-line: underline;
   text-decoration-thickness: 0.06rem;
   transition: all 300ms ease;
   &:hover {
      color: $a--hover;
   }
}