// Reset Heading Tag Styles

@mixin h-reset($font-size: $fontSize-p, $margin-top: 0.8rem) {
   h1, h2, h3, h4, h5, h6 {
      font-size: $font-size;
      font-weight: 400;
      margin-top: $margin-top;
      display: inline-block;
   }
}

// Center Content using Margin: auto L+R

@mixin mx-auto {
   margin-left: auto;
   margin-right: auto;
}
